@import 'button.css';

:root {
  font-size: 16px;
}

body {
  padding: 1rem 2rem;
  font-family: "Reddit Mono", monospace;
}

button {
  cursor: pointer;
  border: none;
}

body>h1 {
  text-align: center;
  margin-bottom: 6rem;
}

