:root {
  font-size: 16px;
}

body {
  padding: 1rem 2rem;
  font-family: "Reddit Mono", monospace;
}

button {
  cursor: pointer;
  border: none;
}

body>h1 {
  text-align: center;
  margin-bottom: 6rem;
}

.button {
  padding: 10px 12px;
  border-radius: 8px;
  background-color: darkblue;
  color: whitesmoke;

  &:hover {
    background-color: rgba(0, 0, 139, 0.8);
  }
}